<h1>Signup</h1>
<form action="#" [formGroup]="signupForm" (ngSubmit)="signup()">
  <input type="text" formControlName="email" placeholder="Email" />
  <span *ngIf="inputIsValid('email')" class="error"
    >Email {{ renderError("email") }}</span
  >
  <br />
  <input type="password" formControlName="password" placeholder="Password" />
  <span *ngIf="inputIsValid('password')" class="error"
    >Password {{ renderError("password") }}</span
  >
  <br />
  <input
    type="password"
    formControlName="passwordConfirm"
    placeholder="Confirm your password"
  />
  <span *ngIf="inputIsValid('passwordConfirm')" class="error"
    >Password confirmation {{ renderError("passwordConfirm") }}</span
  >
  <br />
  <input type="text" formControlName="name" placeholder="Name" />
  <span *ngIf="inputIsValid('name')" class="error"
    >Name {{ renderError("name") }}</span
  >
  <br />
  <input type="text" formControlName="secret" placeholder="Your secret" />

  <br />
  <button type="submit">Signup</button>
</form>
<h2>Already have an account?</h2>
<a routerLink="/secret/login">Login</a>
