<h1>Signup</h1>
<form action="#" [formGroup]="signupForm" (ngSubmit)="signup()">
  <input type="text" formControlName="email" placeholder="Email" />
  <br />
  <input type="text" formControlName="password" placeholder="Password" />
  <br />
  <input
    type="text"
    formControlName="passwordConfirm"
    placeholder="Confirm your password"
  />
  <br />
  <input type="text" formControlName="name" placeholder="Name" />
  <br />
  <input type="text" formControlName="secret" placeholder="Your secret" />
  <br />
  <button type="submit">Signup</button>
</form>
